 
 header{
    background: #FFF;
    padding: 20px;

 }
 nav{
    display: flex;
    justify-content:space-between ;
 }
 nav > ul{
    display: flex;
    margin-right: 30px;
    list-style: none;
    
 }
 nav li a{
    text-decoration: none;
    
 }
 nav li{
    margin: 30px;
 }

.image{width: 1170px;
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) , url('../Images/Group\ 13\ \(1\)\ \(1\).png');
max-width: 970px;
height: 270px;
text-align: center;
margin: 0 auto;
padding: 106px;
border-radius: 16px;
}
.b{color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;}
.c{color: #FFF;
    font-size: 16px;
    font-weight: 400;}

.d{display: flex;
gap: 100px;
}
.e{color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; }
    #read{width: 100px;
        height: 40px;
    border-radius: 8px;    
        background: #FF5400;
        color: #FFF;
    font-weight: 800px;
    }
 
.tour-description{width: 1440px;
    height: 6940px;
    padding: 14px;
    margin-left: 305px;
    width: 525px;
}
.tour-image{width: 540px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 16px;}
.f{display: flex;
margin: 1894px 135px 4760px 1031px;
gap: 5px;}

.g{color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;}

.h{display: flex;
gap: 20px;
margin-left: 400px;
}

.i{width: 200px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
padding: 100px 100px ;
}
.j{width: 672px;
    height: 422px;
    border-radius: 16px;
    }
.m{color: #131318;
    font-size: 24px;
    font-weight: 800;}
.k{color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; }
.l{ border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.save{width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    color: #FFF;
    background: #FF5400;
padding: 10px;
margin: 0;
position: relative;
bottom-: 100px;}
.save h2{font-size: 24px;
    text-align: center;}
.save h1{font-size: 32px;
    text-align: center;}